[user]
  name="NexushasTaken"
  email="nexushastaken@gmail.com"
[core]
  editor="nvim"
[init]
  defaultBranch="master"
[diff]
  submodule = log
[gui]
  fontui = -family \"Hack Nerd Font\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  fontdiff = -family \"Hack Nerd Font\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
  tabsize = 2
